.profile {
  width: 320px;
  margin: 1% auto 1%;

  background-color: #fff;
  border-radius: 12px;
  box-shadow: 2px 2px 2px 1px #cdd7e4;
}

.description {
  padding: 40px 16px;
  text-align: center;
}

.avatar {
  display: block;

  width: 64%;
  height: auto;
  margin: 0 auto 32px;

  border-radius: 50%;
}

.name {
  margin-bottom: 12px;
  font-size: 1.6rem;
  font-weight: 700;
  color: #122236;
}

.tag {
  margin-bottom: 12px;
}

.tag,
.location,
.label {
  font-size: 1.1rem;
  color: #768696;
}

.stats {
  display: flex;
  flex-wrap: wrap;

  padding: 0;
  margin: 0;

  font-size: 1.1rem;

  list-style: none;
  border-top: 1px solid #e4e9f0;
}

.stats__item {
  display: flex;
  width: calc(100% / 3);
  flex-direction: column;
  align-items: center;
  gap: 8px;

  padding: 24px 20px;

  background-color: #f3f6f9;
  transition: var(--time) var(--cubic) transform;
}

.stats__item:first-of-type {
  border-bottom-left-radius: 12px;
}

.stats__item:last-of-type {
  border-bottom-right-radius: 12px;
}

.stats__item:focus-within,
.stats__item:hover {
  transform: scale(1.05);
}

.stats__item:not(:last-of-type) {
  border-right: 1px solid #e4e9f0;
}

.quantity {
  color: #25384d;
  font-weight: 700;
}
