.transactionHistory {
  max-width: 320px;
  margin: 0 auto 2%;
  box-shadow: 1px 1px 3px 1px rgba(33, 33, 33, 0.21);
  text-align: center;
}

.thead {
  padding: 12px 20px;
  background-color: lightseagreen;
  color: #fff;
}

.row {
  transition: var(--time) var(--cubic) transform;
}

.row:focus-within,
.row:hover {
  transform: scale(1.03);
}

.row:nth-child(even) {
  background-color: #ecf1f4;
}

.row:nth-child(odd) {
  background-color: #fff;
}

.type,
.amount,
.currency {
  padding: 10px;
}

.type {
  padding-left: 12px;
  text-align: left;
  text-transform: capitalize;
}

.amount {
  text-align: right;
  padding-right: 24px;
}

/* .currency { } */
