.friendList {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 5px;

  width: 320px;
  padding: 0;
  margin: 0 auto 2%;

  list-style: none;

  border-radius: 4px;
}

.item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  padding: 8px;

  background-color: #fff;
  border-radius: 4px;
  box-shadow: 1px 1px 2px 1px #a5a5a5;
  transition: var(--time) var(--cubic) transform;
}

.item:focus-within,
.item:hover {
  transform: scale(1.03);
}

.status {
  width: 16px;
  height: 16px;
  border-radius: 50%;
}

.avatar {
  display: block;
  width: 48px;
  height: auto;
}
